body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  margin: auto;
  padding: 10px;
  display: flex column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Bottom-Section {
  margin: auto;
  width: 50%;
  align-items: center;
}

#userPhoto {
  width: 150px;
  height: 150px;
  display: block;
  margin: 45px auto 30px;
  border-radius: 50%;
  border: solid #fcfcfc 2px;
  box-shadow: 0px 7px 15px rgba(20, 20, 20, 0.5);
}

#userName {
  color: black;
  font-size: 25px;
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  text-decoration: none;
}

#links {
  max-width: 600px;
  width: 500px;
  margin: 25px auto;
  display: flex column;
  flex-wrap: wrap;
  padding: 10px;
}

.link {
  display: block;
  background-color: #fcfcfc;
  color: #0d0d0d;
  font-family: inherit;
  text-align: center;
  margin-bottom: 20px;
  padding: 17px;
  text-decoration: none;
  font-size: 20px;
  border: solid #fcfcfc 0px;
  box-shadow: 0px 2px 5px rgba(20, 20, 20, 0.5);
  border-radius: 5px;
}

.link:hover {
  background-color: #2978b5;
  color: #fcfcfc;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  margin: auto;
  width: 60%;
  align-items: center;
  text-align: center;
}

.icon {
  font-size: 30px;
  color: #bbb;
  opacity: 0.6;
  height: 30px;
  text-decoration: none;
}

.icon:hover {
  color: black;
  opacity: 1.6;
}

p {
  text-align: center;
  color: #bbb;
}

h1 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

h1 span {
  transition: 0.5s linear;
}

h1:hover span {
  color: Black;
  text-shadow: 0 0 10px #fff, 0 0 20px white, 0 0 40px black;
}

@media (max-width: 600px) {
  #links {
    margin: auto;
    width: 20em;
  }
}
